
    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a href="/" class="navbar-brand">Bodega - "Si no lo tenemos se la consigo"</a>
        </div>

    </nav>